@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
  margin: 0;
  font:normal bold 38px 'DM Sans', Serif;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
  max-width: 700px; 
}

.card {
  transition: transform 0.3s ease;
}

.card img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.card img:hover {
  transform: scale(1.1); /* Zoom in the image by 10% when hovering */
}

/* Apply some basic styles to the button */
.back-button {
  background-color: #F74039;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Add a smooth transition effect */
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

/* On hover, change the background color to a darker shade */
.back-button:hover {
  background:lightblue;
}

/* Keyframe animation for pulsing effect */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Apply pulsing animation when the button is clicked */
.back-button:active {
  animation: pulse 0.3s;
}

h2{font:font:normal bold 38px 'DM Sans', Serif; ;text-align:left; align-items: left; font-size: 1em; color:#F74039;;}

div#resultContainer.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

p {
  font-size: 1.5em; font-weight:300;line-height:0.9;
}

/* Other existing styles */

#resultMessage {
  text-align: center;
  font:normal bold 38px 'DM Sans', Serif;
  font-weight:300;
  color: #F74039;
  line-height:0.9;
}

/* Add this CSS code to center the "Back to Main" button */
#resultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
  line-height: 0.9em;
  font-weight:300;
  height:600px;
}
a { text-decoration:none; color:black}

/* Add this CSS code to center the image in the result view */
#resultImage {
  display: block;
  margin: 0 auto;
}

